@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url(https://db.onlinewebfonts.com/c/548e77e130ea884c764acabe1ba1ad63?family=Arame-Regular);

@import "animations";
@import "mixins";

body {
  overflow: hidden;
}

@font-face {
  font-family: "Indigo";
    src: url("https://db.onlinewebfonts.com/t/b1ef5518a83cafc79c768592d8a7c923.eot");
    src: url("https://db.onlinewebfonts.com/t/b1ef5518a83cafc79c768592d8a7c923.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/b1ef5518a83cafc79c768592d8a7c923.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/b1ef5518a83cafc79c768592d8a7c923.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/b1ef5518a83cafc79c768592d8a7c923.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/b1ef5518a83cafc79c768592d8a7c923.svg#Indigo")format("svg");
}

.navigation-bar h3,
.navigation-page-bar h3,
.lobby-name,
.lobby-map,
.lobby-players,
.lobby-tags,
.navigation-bar,
.lobby-list,
.password-popup,
.create-lobby-container
div {
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.15s ease-in;
  user-select: none;
  font-family: "Poppins";
}

#wrapper{
  user-select: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Burbank Big Condensed Black";
  overflow: hidden;
}

.fade-enter {
    opacity: 0;
    z-index: 2;
  }
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 300m ease-in;
  }